certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
colorama==0.4.6
cryptography==41.0.7
graphviz==0.20.1
idna==3.4
loguru==0.7.2
pycparser==2.21
PyJWT==2.8.0
ratelimit==2.2.1
requests==2.31.0
tqdm==4.66.1
urllib3==2.0.4
